<h2>Bucket List Destinations</h2>

  <% @countries.each do |country| %>

<ul>
  <li> <a href="/trips/<%= country.id %>"> <%= country.name %></a> </li>
</ul>


  <% end %>

<a href='/trips/new'>Add New Country</a>
   <!-- <button onclick='/trips/new'>Add a Country</button> -->
