<!DOCTYPE html>
<html>
<head>
  <title>Wandering Not Lost: My Travel Tracker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav><ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/countries'>Countries</a></li>
    <li>Countries</li>
<%= yield %>
</body>
</html>
