<!DOCTYPE html>
<html>
<head>
  <title>Wandering Not Lost: My Travel Tracker</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>

    <a href='/'>Home</a>
    <a href='/trips/all'>All Trips</a>
    <a href='/trips/visited'>Trips Taken</a>
    <a href='/trips/tosee'>Trips Planned</a>
  </nav>
  <%= yield %>
</body>
</html>
