<p>Country: <%= @country.name.capitalize %></p>
<% @cities.each do |city| %>

<ul>
  <li> <%= city.name.capitalize %> </li>
  <li> <%= city.visit_status %> </li>
</ul>

<% end %>

<a href="/cities/new/<%= @country.id %>" class="button">Add a city</a>
