<h2>Add a city for <%= @country.name.capitalize %></h2>
<form method="POST" action="/cities">

  <input type="hidden" name="country_id" id="country_id" value="<%= @country.id%>"/>

  <label for="name">City Name:</label>
  <input type="text" name="name" id="name"/>

  <!-- <label for="name">Visited Status:</label> -->
  <input type="radio" id="visited" name="visit_status" value="visited" checked>
  <label for="visited">Visited</label>

  <input type="radio" id="to_visit" name="visit_status" value="still to see">
  <label for="to_visit">Still To See</label>

  <input type="submit" value="Add City"/>
</form>
