<h2>Edit/Add Trips</h2>
  <% @countries.each do |country| %>
  <ul>
    <li> <a href="/cities/<%= country.id %>/view"> <%= country.format_name %></a> -
       <button><a href="/countries/<%= country.id %>/edit">Edit</a></button>

    </li>
  </ul>
  <% end %>

<a href="/countries/new" class="button">Add a country</a>
