<h2>Bucket List Destinations</h2>
  <% @countries.each do |country| %>
  <ul>
    <li> <a href="/countries/<%= country.id %>"> <%= country.name.capitalize %></a> </li>
  </ul>
  <% end %>

<a href="/countries/new" class="button">Add a country</a>
