<%prev = 0%>
<h2>All items on my bucketlist<h2>
<%@cities.each do |city|%>

  <%if city.country_id != prev%>
    <h2><%=city.country.name%></h2>
    <%prev = city.country_id %>
  <%end%>
  <h3><%=city.name%></h3>
  <%if @sights.length != 0%>
    <h4>Sights</h4>
  <%end%>

  <%@sights.each do |sight|%>
    <%if sight.city_id == city.id%>
      <h5><%=sight.name%></h5>
    <%end%>

  <%end%>

<%end%>
