<a href="/countries" class="button">Edit/Add Trips</a>
<%prev = 0%>
<%first = 0%>
<h2><%@title%><h2>
<%@cities.each do |city|%>

  <%if city.country_id != prev%>
    <h2><%=city.country.name%></h2>
    <%prev = city.country_id %>
  <%end%>
  <h3><%=city.name%></h3>


  <%@sights.each do |sight|%>
   <%if sight.city_id == city.id%>
     <%if sight.city_id != first%>
       <h3>Sights</h3>
       <%first = sight.city_id%>
      <%end%>
      <h5><%=sight.name%></h5>
    <%end%>
  <%end%>

<%end%>
